## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
# Drop the non-beneficial ID columns, 'EIN', and 'NAME'.
application_df = application_df.drop(columns=["EIN"], axis=1)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [ ]:
# Look at NAME value counts for binning
name_counts = application_df["NAME"].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of name types to be replaced
# use the variable name `names_to_replace`
names_to_replace = list(name_counts[name_counts<10].index)

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts<600].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#https://re-thought.com/pandas-value_counts/
application_df["CLASSIFICATION"].value_counts().loc[lambda x: x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<700].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies_df = pd.get_dummies(application_df)
application_dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = application_dummies_df["IS_SUCCESSFUL"]
X = application_dummies_df.drop(["IS_SUCCESSFUL"], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=100, activation="tanh", input_dim = input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=50, activation="tanh"))

#Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=30, activation="tanh"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))



nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 100)               26700

 dense_4 (Dense)             (None, 50)                5050

 dense_5 (Dense)             (None, 30)                1530

 dense_6 (Dense)             (None, 1)                 31

=================================================================
Total params: 33311 (130.12 KB)
Trainable params: 33311 (130.12 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.4738 - accuracy: 0.7689
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4470 - accuracy: 0.7826
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4409 - accuracy: 0.7847
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4386 - accuracy: 0.7863
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4364 - accuracy: 0.7858
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4348 - accuracy: 0.7884
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4342 - accuracy: 0.7892
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4318 - accuracy: 0.7902
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4314 - accuracy: 0.7912
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4306 - accuracy: 0.7887
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4293 - accuracy: 0.7907
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4277 - accuracy: 0.7931
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4273 - accuracy: 0.7914
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4265 - accuracy: 0.7932
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4255 - accuracy: 0.7937
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4246 - accuracy: 0.7952
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4235 - accuracy: 0.7945
Epoch 18/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4237 - accuracy: 0.7944
Epoch 19/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4227 - accuracy: 0.7959
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4220 - accuracy: 0.7955
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4214 - accuracy: 0.7958
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4212 - accuracy: 0.7957
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4209 - accuracy: 0.7964
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4202 - accuracy: 0.7971
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4198 - accuracy: 0.7968
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4194 - accuracy: 0.7975
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4194 - accuracy: 0.7967
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4188 - accuracy: 0.7982
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4184 - accuracy: 0.7981
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4182 - accuracy: 0.7977
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.7980
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4173 - accuracy: 0.7982
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4171 - accuracy: 0.7981
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4173 - accuracy: 0.7996
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4167 - accuracy: 0.7990
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.7979
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4159 - accuracy: 0.7992
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4163 - accuracy: 0.7989
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4157 - accuracy: 0.7985
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4157 - accuracy: 0.7988
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4155 - accuracy: 0.8003
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4152 - accuracy: 0.7991
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4153 - accuracy: 0.7994
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.7990
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4146 - accuracy: 0.7992
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4145 - accuracy: 0.7991
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4145 - accuracy: 0.7995
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4143 - accuracy: 0.7996
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4143 - accuracy: 0.7990
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4140 - accuracy: 0.7991
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4142 - accuracy: 0.7987
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4139 - accuracy: 0.7994
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4134 - accuracy: 0.7996
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4136 - accuracy: 0.8000
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4142 - accuracy: 0.7993
Epoch 56/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4136 - accuracy: 0.7991
Epoch 57/100
804/804 [==============================] - 7s 8ms/step - loss: 0.4137 - accuracy: 0.7994
Epoch 58/100
804/804 [==============================] - 6s 7ms/step - loss: 0.4133 - accuracy: 0.8010
Epoch 59/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4136 - accuracy: 0.7998
Epoch 60/100
804/804 [==============================] - 6s 7ms/step - loss: 0.4132 - accuracy: 0.7997
Epoch 61/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4133 - accuracy: 0.7998
Epoch 62/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4136 - accuracy: 0.7998
Epoch 63/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4130 - accuracy: 0.8005
Epoch 64/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4130 - accuracy: 0.8001
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4135 - accuracy: 0.7993
Epoch 66/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4134 - accuracy: 0.8001
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4129 - accuracy: 0.7997
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4130 - accuracy: 0.7996
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4126 - accuracy: 0.7996
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4123 - accuracy: 0.8002
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4126 - accuracy: 0.8000
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4129 - accuracy: 0.7999
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4124 - accuracy: 0.7998
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4126 - accuracy: 0.8001
Epoch 75/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4123 - accuracy: 0.7993
Epoch 76/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4121 - accuracy: 0.8000
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4120 - accuracy: 0.8000
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4119 - accuracy: 0.7995
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4119 - accuracy: 0.7995
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4121 - accuracy: 0.8006
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4118 - accuracy: 0.8001
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4125 - accuracy: 0.7996
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4121 - accuracy: 0.7985
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4125 - accuracy: 0.8000
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4124 - accuracy: 0.7998
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4120 - accuracy: 0.8000
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4122 - accuracy: 0.7997
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4118 - accuracy: 0.7999
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4118 - accuracy: 0.7994
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4118 - accuracy: 0.7994
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4120 - accuracy: 0.7997
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4119 - accuracy: 0.7998
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4117 - accuracy: 0.7992
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4113 - accuracy: 0.8005
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4114 - accuracy: 0.7995
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4116 - accuracy: 0.8008
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4120 - accuracy: 0.8000
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4119 - accuracy: 0.7996
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4117 - accuracy: 0.7998
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4112 - accuracy: 0.8004

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4583 - accuracy: 0.7789 - 508ms/epoch - 2ms/step
Loss: 0.45834916830062866, Accuracy: 0.7788920998573303

In [ ]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity_Optimization.h5")